.heightBtn {
    background-color: green;
    border: 0cap;
    border-radius: 8px;
    padding: 10px;
    color: white;
}

.filterBtn {
    background-color: orange;
    border: 0cap;
    border-radius: 8px;
    padding: 10px;
    color: white;
}
