*,
::after,
::before {
    box-sizing: border-box;
}
.text {
    width: 600px;
    height: 500px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
}

.simplebar-scrollbar::before {
    background-color: blue;
  }