body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
  }

  .form-container {
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  input, select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.card {
    margin-top: 20px;
    width: 300px;
    height: 180px;
    border-radius: 10px;
    background-color: lightgray;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 20px;
  }